* {
  margin: 0px;
  padding: 0px;
}

.container {
  background: #4f4cc9;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#video {
  height: 400px;
  border-radius: 6px;
}

#btn {
  background: transparent;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  color: #fff;
  border: 2px solid #fff;
}